{% extends 'ovpn/base.html' %}

{% block content %}
<div class="content-wrapper">
<h1 class="m-0">Update Req file </h1>
 <div class="col-md-6 mx-auto">
    <form method="post" action="issue/upload" enctype ="multipart/form-data">
        {% csrf_token %}
        <div class="input-group">
            <div class="custom-file">
                <input type="file" 
                       class="custom-file-input" 
                       name="upload_req" 
                       id="upload_req" 
                       accept="text/*"
                       required 
                />
                <label class="custom-file-label" for="upload_req">Please select Req file to upload</label>
            </div>
          <div class="input-group-append">
                <input class="btn btn-primary" type="submit" value="Upload" />
          </div>
        </div>
    </form>
</div>

{% if error %}
    <div class="alert alert-danger col-md-6 mx-auto">
        <p> {{error}} </p>
    </div>
{% endif %}

{% if message %}
    <div class="alert alert-success col-md-6 mx-auto">
        <p> {{message}} </p>
    </div>
{% endif %}
</div>

{% endblock content %}